// -----------------------------------------------------
// Переменные

// Цветовая палитра
	$gray: #F3F3F3;
	$gray-2: #f5f5f5;
	$black: #111111;
	$white: #FEFEFE;
	$theme-color: #3366CC;
	$footer-bg: #212121;
// -----------------------------------------------------