/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*Стандартная ширина и высота header'a*/
header {
	width: 100vw;
	height: 100vh;
	background-color: #87509c;
}
body {
	width: 100vw;
	height: 100vh;
}


/*Убираем стандартные отступы*/
* {
 margin:0;
 padding:0;
}


/*Стили для h1*/
h1 {
	font-family: Times New Roman;
	font-weight: 400;
	font-size: 25,83px;
	text-align: center;
	color: white;
}
/*Main-page*/
.main-logo {
	margin-left: 211px;
	padding-top: 58px
}

/* Навигация */
.main-nav-bar {
	list-style-type: none;
	float: right;
	padding-right: 191px;
	margin-top: -40px;
	padding-left: 0;
	margin-left: 0;
}
.main-nav-bar a {
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	display: inline-block;
	padding: 10px 20px;
}

.main-nav-bar li :hover {
	background-color: #643a79;
	border-radius: 4px;
}

.main-nav-bar li {
	display: inline;
}
/* /Навигация */

.main-text {
   margin-top: 144px;
}

.main-btn {
	width: 293px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 47px; 
	left: 0; 
	bottom: 0; 
	right: 0;
	text-decoration: none;
	border: none;
	background-color: #eb7d4b;
	border-bottom: 4px solid #c86a40;
	border-radius: 4px;
	color: white;
}

.main-btn p {
	font-size: 25px;
}
/* /Main-page */


/*Services Section*/

#services {
	width: 100vw;
	height: 131vh;
	background-color: #17c2a4;
}

.services-text h1 {
	padding-top: 115px;
	font-size: 40px;
}

.services-line {
	width: 87px;
	height: 8px;
	background-color: #14a58c;
	margin: auto;
	margin-top: 20px;
}
.services-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

/*блок с изображениями*/

.services-box {
	width: 203px;
	height: 294px;
	display: inline-block;
	text-align: center;
	color: white;
	margin: 20px;
}

.services-box h2 {
	margin-top: 60px;
	white-space: nowrap;
	font-size: 24px;
}

.services-box p {
	margin-top: 25px;
	font-size: 16px;
}
.services-container {
	display: table;
	margin: auto;
	margin-top: 78px;
}


/* team section */
#team-section {
	background-color: #e7f1f8;
	width: 100vw;
	height: 141vh;
}

.team-text h1 {
	padding-top: 115px;
	font-size: 40px;
	color: #3c476a;
}

.team-line {
	width: 87px;
	height: 8px;
	background-color: #c8d9e5;
	margin: auto;
	margin-top: 20px;
}
.team-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: #3c476a;
}

/* Team-boxes */

.team-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 78px;
}

.circle {
	border-radius: 50%;
	background-color: #878787;
	height: 179px;
	width: 180px;
	margin: 0px 21px;

}

.team-box {
	margin: 20px;
}
.team-box h2 {
	margin-top: 32px;
	color: #3c4761;
	white-space: nowrap;
	font-size: 24px;
	text-align: center;
}

.job-info {
	text-align: center;
	margin-top: 10px;
	color: #53c2e9;
}

.team-box-description {
	margin-top: 28px;
	color: #3c4761;
	text-align: center;
}

.team-circle-link {
	width: 32px;
	height: 32px;
	background-color: #bdd1df;
	border-radius: 50%;
	border: none;
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
}

.facebook-img {
	display: block;
	margin: 0 auto;
}
.twitter-img {
	display: block;
	margin: 0 auto;
}
.linkedIn-img {
	display: block;
	margin: 0 auto;
}
.mail-img {
	display: block;
	margin: 0 auto;
}


.team-circle-links {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}


/* Эффекты */

/* Убирает стандартные эффекты */
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* Эффект наведения на кнопку */
.team-circle-link:hover {
	background-color: #dd794c;
}

/* Skills Section */

#skills-section {
	width: 100vw;
	height: 110vh;
	background-color: white;
}

.skills-text h1 {
	padding-top: 115px;
	font-size: 40px;
	color: #3c476a;
}
.skills-line {
	width: 87px;
	height: 8px;
	background-color: #c8d9e5;
	margin: auto;
	margin-top: 20px;
}
.skills-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: #3c476a;
}

.skills-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 78px;
}

.skills-box {
	display: inline-block;
	margin: 40px;
	width: 160px;
}
.skills-box {
	position: relative;
}

.percent h2{
	position: absolute;
	top: 26%;
	left: 26%;
	font-size: 43px;
	color: #3c4761;
}

.prog-description {
	margin-top: 30px;
	color: #3c4761;
	white-space: nowrap;
	text-align: center;
}


/* Портфолио */
#portfolio-section {
	width: 100vw;
	height: 230vh;
	background-color: #fd9;
}

.portfolio-text h1 {
	padding-top: 115px;
	font-size: 40px;
	color: #3c476a;
}
.portfolio-line {
	width: 87px;
	height: 8px;
	background-color: #e5c37f;
	margin: auto;
	margin-top: 20px;
}
.portfolio-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: black;
}


/* Навигация портфолио */
.portfolio-nav {
	list-style-type: none;
	display: table;
	margin: auto;
	margin-top: 40px;
}
.portfolio-nav a {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	text-decoration: none;
	font-family: sans-serif;
	background-color: #ebc985;
	border-radius: 4px;
	color: black;
	display: inline-block;
	padding: 10px 20px;
}

.portfolio-nav li :hover {
	background-color: white;
	border-radius: 4px;
}

.portfolio-nav li {
	display: inline;
	padding: 0px 3px;
}

.portfolio-notebook-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 78px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.notebook {
	width: 541px;
	height: 311px;
	margin: 20px;
	margin-bottom: 111px;
}

.notebook h2 {
	text-align: center;
	margin-top: 30px;
}

.notebook-btn {
	width: 293px;
	height: 70px;
	top: 142px;
	display: block;
	margin-top: 40px;
	margin: auto;
	text-decoration: none;
	border: none;
	background-color: #17c2a4;
	border-bottom: 4px solid #14a58c;
	border-radius: 4px;
	color: white;
}

.notebook-btn p {
	font-size: 13px;
}


/* Секция с отзывами */

#comments-section {
	width: 100vw;
	height: 130vh;
	background-color: #d74680;
}
.comments-text h1 {
	padding-top: 115px;
	font-size: 40px;
	color: white;
}

.comments-line {
	width: 87px;
	height: 8px;
	background-color: #b73c6d;
	margin: auto;
	margin-top: 20px;
}
.comments-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

.comments-circle {
   border-radius: 50%;
   width: 96px;
   height: 96px;
   background-color: #787878;  	
}
.comments-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 78px;
}

.comments-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 152px;
}
.comments-box-text {
	margin-left: 40px;
}

.comments-box-text p {
	font-size: 17px;
	color: white;
}

.comments-box-text h2 {
	margin-top: 20px;
	color: white;
}

.comments-box span {
	color: #ffdd99;
}


/* Секция обратной связи */

#feedback-section {
	width: 100vw;
	height: 130vh;
	background-color: #3c5499;	
}

.feedback-text h1 {
	padding-top: 115px;
	font-size: 40px;
	color: white;
}

.feedback-line {
	width: 87px;
	height: 8px;
	background-color: #273a71;
	margin: auto;
	margin-top: 20px;
}
.feedback-text-description p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: white;
}


/* Формы */


.feedback-container {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.feedback-name-form {
	border-radius: 4px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 414px;
	height: 56px;
	background-color: #273a71;
}

.feedback-name-form input {
	width: 90%;
	margin: 20px;
	background-color: #273a71;
	border: none;
	color: white;

}

.feedback-email-form {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border-radius: 4px;
	margin-left: 30px;
	width: 414px;
	height: 56px;
	background-color: #273a71;
}
.feedback-email-form input {
	width: 90%;
	margin: 20px;
	background-color: #273a71;
	border: none;
	color: white;
}

.feedback-message-form {
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 26px;
	width: 860px;
	height: 200px;
	background-color: #273a71;
}

.feedback-message-form textarea {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 10px;
	background-color: #273a71;
	border: none;
	color: white;	
}

::-webkit-input-placeholder {
	color: white;
}

.feedback-btn {
	width: 293px;
	height: 70px;
	margin: auto;
	display: block;
	margin-top: 50px;
	text-decoration: none;
	border: none;
	background-color: #30bae7;
	border-bottom: 4px solid #299ec5;
	border-radius: 4px;
	color: white;
}


/* Подвал */

footer {
	width: 100vw;
	height: 114px;
	background-color: #344b8e;
}

.social-media-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.social-media-box {
	text-align: center;
	padding: 40px 30px;
}

.social-media-box a :hover {
	color: #30bae7;
}

.social-media-box a {
	color: white;
	text-decoration: none;
}

button:hover {
	-webkit-box-shadow: 0px 9px 23px -4px rgba(0,0,0,0.42);
	        box-shadow: 0px 9px 23px -4px rgba(0,0,0,0.42);
}

/* Медиа-запросы */


@media (max-width: 1280px) {
	html, body {
		width:100%;
		overflow-x:hidden;
	}
	header {
	width: 100vw;
	height: 40vh;
}

#services {
	width: 100vw;
	height: 50vh;
}

#team-section {
	width: 100vw;
	height: 60vh;
}

.circle {
	border-radius: 50%;
	background-color: #878787;
}

#skills-section {
	width: 100vw;
	height: 50vh;
}
#portfolio-section {
	width: 100vw;
	height: 140vh;
}

#comments-section {
	width: 100vw;
	height: 60vh;
}

.comments-box {
	margin-left: 25px;
	margin-right: 25px;
}

#feedback-section {
	width: 100vw;
	height: 50vh;
}

.social-media-box {
	padding: 40px 20px;
}

}










